<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Lestter Gabriel">
        <meta name="description" content="Atalhos para sites úteis, utilizando de links obtidos durante serviços para o cliente - Sites r4010 - 220015032022">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" type="text/css">
        <title>{{ title }}</title>
    </head>
    <body id="pg-geral">
        {% block login %} {% endblock %}
        <nav>
            <div id="navegacao">
                <ul>
                    <li id="bntEd">Editar</li>
                </ul>
                <div id="barraDePesquisa">
                    <input id="searchbar" autofocus onkeyup="pesquisar_item()" type="text" name="search" placeholder="Pesquisar...">
                </div>
            </div>
        </nav>
        <div id="limit">
            <div id="contador">
                <h1>0</h1>
            </div>
            <div id="container">
                {% block content %} {% endblock %}
            </div>
        </div>
        <footer>
            <div id="cont">
                <div id="bx">
                    <div class="slogan"><em>Upjet Cell - Sua Gráfica | Assistêcia | LanHouse</em></div>
                    <div id="auin">
                        <div id="author">
                            <figure>
                                <div id="perfil"></div>
                                <figcaption>Lestter Gabriel</figcaption>
                            </figure>
                            <div id="bio">
                                <ul>
                                    <li>Engineer</li>
                                    <li>Programmer</li>
                                    <li>Designer</li>
                                </ul>
                            </div>
                        </div>
                        <div id="inc-loc">
                            <h1 style="background-color: gray; text-align: center;">Localização Google Maps</h1>
                            <h1 style="color: red;">Removido</h1>
                        </div>
                    </div>
                    <div class="slogan">
                        <h5><a href="https://wa.me/+5581986432490" target="_blank" id="aut">&copyCopyright 2022 - Lestter Gabriel</a></h5>
                    </div>
                </div>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
        <script src="{{ url_for('static', filename='js/searchbar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/contador.js') }}"></script>
    </body>
</html>